*{
  padding: 0;
  margin: 0;
}
.title-wrap{
  border: 1px solid gainsboro;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.title-name{
  margin: auto;
  color: gray;
}
.tool-wrap{
  border: 1px solid gainsboro;
  height: 38px;
  line-height: 38px;
}

.pdf-wrap{
  display: inline-block;
  width: 75%;
  position: absolute;  
  top: 70px;
  bottom: 0;
  left: 0;
  background-color: gray;
}
.annotation-wrap{
  display: inline-block;
  width: 25%;
  position: absolute;  
  top: 70px;
  bottom: 0;
  right: 0;
}
.recommend-wrap{
  height: 65%;
  background-color: white;
  padding: 1px;
}
.pending-wrap{
  height: 35%;
  background-color: rgb(255, 236, 126);
}